#svg{
    width: 20px;
    height: 20px;
}
body{
    font-family: "poppins",sans-serif;
    font-size: medium;
    font-weight: 400;
    line-height: 28px;
}
#firstHeader{
    background-color:  #28A745;
    color: aliceblue;
}
#navButton{
    color: #28A745;
}
.row{
    display: flex;
    flex-direction: row;
}
.col-sm-6{
    padding-left: 40px;
    padding-top: 5px;
}
.row1{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.row2{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
#facilitiesImage{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
#facilitiesImage1{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
#facilitiesImage2{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
#container{ 
    padding-left: 20px;
    padding-right: 20px;
}
#homeButton{
    font-weight: bolder;
    color: #36454f;
}
#navButton1{
    color: #28A745;
    font-weight: bold;
    font-family: sans-serif;
    font-size: larger;
}
#schoolImage{
    border-radius: 20px;
}
#newsAndUpdates{
    padding: 1px 0;
    padding-left: 1px;
}
.card-body{
    background-color: #36454f;
    color: aliceblue;
    border-radius: 15px;
}
#boardingImage{
    width: 350px;
    height: 250px;
    border-radius: 10px;
}
h2{
    color: #28A745;
    text-align: center;
}
h3{
    color: #36454f;
}
#applyButton{
    color: aliceblue;
}
#academics, #boarding, #departments{
    padding-left: 10px;
    padding-right: 5px;
}
.card-text{
    color: aliceblue;
}
#firstFooter{
    background-color: #28A745;
    color: aliceblue;
}
#theNews{
    background-color: #28A745;
    color:aliceblue;
}
#departmentsImage{
    border-radius: 5px;
}
/* 
.row{
    display: flex;
}
*/
#footer1{
    padding-left: 5px;
}
#secondFooter{
    background-color: #36454f;
    color: aliceblue;
    padding: 50px 0;
    text-align: center;
}
#testimonialsHeader{
    color: #28A745;
    text-align: center;
}
#testimonialsBody{
    color: aliceblue;
}
#anchorTag{
    text-decoration: none;
    color: aliceblue;
}
 #customCarousel .carousel-inner {
    background-color: #f8f9fa;
    color: #0a5eb1;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
#customCarousel .carousel-item {
    font-size: 1.5rem;
    font-weight: bold;
}
#carouselManagement{
    color: #28A745;
    padding-left: 0px;
    padding-right: 0px;
}
#applyButton{
    color: #36454f;
}
#theNews{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}
.getInTouch{
    padding-left: 20px;
}
.rowFirstHeader{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #28A745; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  /* Styles for screens that are no wider than 599px */
  @media (max-width: 599px) {
    .row2 {
      display: block;
    }
    #theNews{
        display: block;
        padding-left: 0px;
    }
    .rowFirstHeader{
        display: block;
    }
  }
  